<%- include('./../partials/beginHeader.ejs') %>
    <link rel="stylesheet" type="text/css" href="styles/events.css" >
    <title>49erHangout - Events</title>
<%- include('./../partials/endHeader.ejs') %>

<main>

    <% if (events.length > 0) { %>
        <section class="category">
            <% events.forEach(event => { %>
                <h2><%= event.category %></h2>
                    <div class="event">
                        <div class="image">
                            <img src=<%= event.image %> alt="filler image" />
                        </div>
                        <div class="info">
                            <div class="info-header">
                                <div class="info-header-h3">
                                    <a href="event.html">
                                    <h3><%= event.title %> <i class="fa-solid fa-up-right-from-square dark-icon"></i></h3>
                                    </a>
                                </div>
                                <div class="info-header-date">
                                    <p><%= event.startDate %> - <%= event.endDate %></p>
                                </div>
                            </div>
                            <div class="info-description">
                                <p><%= event.details %></p>
                            </div>
                        </div>
                    </div>
                <% }) %>
            </section>
            <% } else { %>
                <p>No events to display.</p>
            <% } %>
</main>

<%- include('./../partials/footer.ejs') %>